[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "ruff format user tests"
lint = "sh -c 'ruff check --fix user tests && mypy user tests'"
test = "pytest tests"

[packages]
pydantic = "~=2.7"
email-validator = "~=2.1"
mongoengine = "~=0.28.2"
mongo-types = "~=0.15.1"

[dev-packages]
ruff = "~=0.4.3"
pytest = "~=8.2"
assertpy = "~=1.1"
pre-commit = "~=3.7"
mypy = "~=1.10"
pytest-faker = "~=2.0"
pytest-testdox = "~=3.1"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
